<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="headinclusion">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/webjars/bootstrap/5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/webjars/bootstrap/5.0.2/dist/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/AdminPage.css}" rel="stylesheet" type="text/css">

</head>
<body>
<header>

</header>
</body>
</html>