:root {
    --btn-primary-custom-color: #0052cc;
    --btn-primary-custom-color-on-hover: #0065ff;
    --btn-primary-custom-color-on-active: #0747a6;
    --btn-border-focus: #4c9aff;
    --input-box-border-focus: #5ba2ff;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"),
    url("/fonts/open-sans/OpenSans-VariableFont_wdth,wght.woff2") format("woff2"),
    url("/fonts/open-sans/OpenSans-VariableFont_wdth,wght.woff") format("woff");
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"),
    url("/fonts/open-sans/OpenSans-Italic-VariableFont_wdth,wght.woff2") format("woff2"),
    url("/fonts/open-sans/OpenSans-Italic-VariableFont_wdth,wght.woff") format("woff");
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Work Sans";
    src: local("Work Sans"),
    url("/fonts/work-sans/WorkSans-VariableFont_wght.woff2") format("woff2"),
    url("/fonts/work-sans/WorkSans-VariableFont_wght.woff") format("woff");
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Work Sans";
    src: local("Work Sans"),
    url("/fonts/OpenSans-Italic-VariableFont_wdth,wght.woff2") format("woff2"),
    url("/fonts/OpenSans-Italic-VariableFont_wdth,wght.woff") format("woff");
    font-style: italic;
    font-display: fallback;
}

body {
    /*font: 16px/1.5 -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
    font-family: "Open Sans", "Work Sans", system-ui ,-apple-system, BlinkMacSystemFont,"Segoe UI", "Roboto", "Oxygen", "Ubuntu",sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

.btn-custom-primary {
    background-color: var(--btn-primary-custom-color);
    color: #fff;
}

.btn-custom-primary:hover {
    color: #fff;
    background-color: var(--btn-primary-custom-color-on-hover)
}

.btn-custom-primary:active {
    background-color: var(--btn-primary-custom-color-on-active)
}

.btn-custom-primary:focus {
    box-shadow: 0 0 0 0.125rem var(--btn-border-focus);
    transition-duration: 0s, 0.2s;
}

.form-control:focus {
    box-shadow: 0 0 0 0.0625rem var(--input-box-border-focus);
    transition-duration: 0s, 0.2s;
}
