<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/MainLoginPage.css}" rel="stylesheet" type="text/css">
    <title>Tacle Health Care | HMS | login</title>
</head>
<body>
<div class="row me-0">
    <div class="col pe-0 row align-items-center justify-content-center ">
        <div class="login-card">
            <form action="#" th:action="@{login}" method="post">
                <p class="text-center">Soul Health Care Solutions</p>
                <p class="text-center">Hospital Management System</p>
                <div th:if="${param.error}" class="alert alert-danger d-flex align-items-center" role="alert">
                    <svg width="2.8rem" height="2.8rem" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2C17.523 2 22 6.478 22 12C22 17.522 17.523 22 12 22C6.477 22 2 17.522 2 12C2 6.478 6.477 2 12 2ZM12 3.667C7.405 3.667 3.667 7.405 3.667 12C3.667 16.595 7.405 20.333 12 20.333C16.595 20.333 20.333 16.595 20.333 12C20.333 7.405 16.595 3.667 12 3.667ZM11.9987 14.5022C12.5502 14.5022 12.9973 14.9494 12.9973 15.5009C12.9973 16.0524 12.5502 16.4996 11.9987 16.4996C11.4471 16.4996 11 16.0524 11 15.5009C11 14.9494 11.4471 14.5022 11.9987 14.5022ZM11.9945 7C12.3742 6.9997 12.6882 7.2816 12.7381 7.64764L12.7451 7.7494L12.7487 12.251C12.749 12.6652 12.4135 13.0013 11.9993 13.0016C11.6196 13.0019 11.3055 12.72 11.2556 12.354L11.2487 12.2522L11.2451 7.7506C11.2447 7.33639 11.5802 7.00033 11.9945 7Z"
                              fill="#842029"/>
                    </svg>
                    <div class="ps-2">
                        You entered an incorrect username or password.Please try again.
                    </div>
                </div>
                <div th:if="${param.successlogout}" class="alert alert-success" role="alert">
                    You have been successfully logged out.
                </div>
                <label class="form-label" for="email">Enter Your Email id:</label>
                <input class="form-control" type="email" name="email" id="email" placeholder="hello@example.com"
                       required><br>
                <label class="form-label " for="password">Enter your assigned password:</label>
                <input class="form-control" type="password" name="password" id="password"
                       placeholder="Password for hello@example.com" required><br>
                <button class="btn btn-custom-primary w-100" type="submit">Login</button>
            </form>
            <section>
                <hr>
                <p class="text-center"><a href="#">User Notice</a> . <a href="#">Privacy Policy</a></p></section>
        </div>
    </div>
    <div class="col pe-0">
        <img th:class="showcase-image"
             th:attr="src=@{/images/ShowcaseImage.jpg}, alt=@{doctor image holding a newborn baby}"/>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>